* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.table {
  width: 1249px;
  margin: auto;
}
.table thead th {
  vertical-align: baseline !important;
}
.table td,
.table th {
  padding: 0px;
}
td,
th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
.stepping {
  padding-top: 77px;
  padding-left: 27px;
  padding-right: 57px;
  padding-bottom: 71px;
}

.hollow-circle-header {
  position: absolute;
  width: 60.99px;
  height: 60.99px;
  left: 40%;
  top: -19.41px;
}
.btn1 {
  color: black;
  border: black 1px solid;
  border-radius: 25px;
  width: 70%;
  position: absolute;
  top: -15px;
  left: 30px;
  background-color: white;
}
.logo {
  width: 60%;
}
.font-600 {
  font-weight: 600;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-12 {
  font-size: 12px;
}
.font-size-20 {
  font-size: 20px;
}
.btn-sec {
  font-weight: 500;
  margin: 0px !important;
  font-size: 10px !important;
  width: 115px;
  padding: 10px;
  background-color: #59638b !important;
  color: #fff !important;
  border-color: #59638b !important;
  border-radius: 25px;
}
.relationships h4 {
  font-weight: 600 !important;
  align-items: center !important;
  text-align: left !important;
}
.white {
  color: white;
}
.auth-btn {
  height: 3rem;
}
.nav-btn {
  font-weight: 600;
  font-size: 12px;
  border-radius: 50px;
  padding: 5px 30px;
  background-color: white;
  color: #04a4a6 !important;
}
.nav-btn:hover {
  background-color: #04a4a6 !important ;
  color: white !important;
}
.margin-top {
  margin-top: 2rem !important;
}
.hollow-circle-moto-section {
  z-index: 0;
  position: relative;
  width: 120px;
  height: 120px;
  left: -65px;
  top: -60px;
}
.btn-color {
  color: #04a4a6 !important;
  border-color: #04a4a6 !important;
}
.font-1rem {
  font-size: 1rem !important;
}
.border-3 {
  border-color: #222f65;
  background-color: #222f65;
  border-radius: 10px;
}
.bg-2 {
  background-image: url("../images/middle_section_bg_image.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}
.our-motto {
  z-index: 5;
  padding: 25px;
}
.text-card {
  padding-top: 1.5rem !important;
}
.card-none {
  border-bottom: 1px solid;
}
.text-card p {
  padding: 3px;
  text-align: left !important;
  font-size: 12px;
  padding-left: 5px !important;
  font-weight: 600;
}
.margin-2 {
  margin-top: 2rem !important;
}
.card-btn2 {
  padding: 2.2rem 1rem !important;
  border-bottom: 1px solid;
}
.card-btn2 button {
  padding: 5px 25px;
  border-radius: 20px;
  background-color: #fff;
  color: #1943ef;
  border: 1px solid #1943ef;
  outline: none;
  font-weight: 600;
}
.text-card-two {
  padding-top: 1.5rem !important;
}
.card-text-margin {
  margin-top: 3rem !important;
}
.card-main {
  border-bottom: 1px solid;
}
.card-btn {
  padding: 1rem 2rem;
}
.card-btn button {
  padding: 0.5rem 2rem;
  font-weight: 600;
  border-radius: 15px;
  background-color: #222f65;
  color: #fff;
  border-color: none;
  outline: none;
  border: none;
}
.padding-half {
  padding-top: 0.5rem;
}
.padding-1-half {
  padding-top: 1.5rem;
}
.padding-1 {
  padding-top: 1rem;
}
.padding-2 {
  padding-top: 2rem;
}
.padding-half-2 {
  padding-top: 2.5rem;
}
.padding-3 {
  padding-top: 3rem;
}
.margin-1 {
  margin-top: 1.5rem !important;
}
.text-card-two p {
  text-align: center;
  font-size: 12px;
  font-weight: 600;
}
.font-size-9 {
  font-size: 9px;
  font-weight: 800;
  margin-top: -5px;
}
.card-heading {
  font-weight: 900;
}
.card-sub-heading {
  font-weight: 600;
  font-size: 15px;
}
.img-padding {
  padding: 4.85rem 3rem;
  border-bottom: 1px solid #fff;
}
.carbon-settings {
  position: absolute;
  width: 440px;
  height: 440px;
  left: -207px;
  top: 50rem;
  transform: rotate(-13.81deg);
}
.card-padding {
  padding-top: 15px !important;
}
.x-scroller {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}
.btn-5 button {
  border: 1px solid #04a4a6;
  background: none;
  color: #04a4a6;
  font-weight: 800;
  outline: none;
  padding: 0.5rem 1rem;
  border-radius: 30px;
}
.new-width-img {
  width: 22rem;
}
.padding-left {
  padding-left: 12rem;
}
.ul-text {
  font-size: 25px;
  font-weight: 600;
}
.ul-color {
  color: #222f65;
}
.img-1 {
  position: absolute;
  left: -15%;
}
.img-2 {
  position: absolute;
  top: 10%;
  left: -10%;
}
.img-3 {
  position: absolute;
  top: 50%;
  left: -30%;
}
.img-4 {
  position: absolute;
  top: -5%;
  right: -50%;
}
.img-5 {
  position: absolute;
  top: 50%;
  right: -30%;
}
.img-6 {
  position: absolute;
  top: 10%;
  right: -10%;
}
.h1-sucessstory {
  margin-left: 3rem;
  font-weight: 700;
}
.vector-icon-test {
  width: 3rem;
  height: 3rem;
}
.border-services {
  border-bottom: 2px solid black;
}
.border-services1 {
  border-top: 2px solid black;
}
.border-btn-services {
  border-width: 2px !important;
}
.w-15 {
  width: 15%;
}
.security-icon {
  margin-left: -1rem;
}
.w-30 {
  width: 30%;
}
.review-dp {
  width: 10rem;
}

.ml-100 {
  margin-left: 100px;
}
.text-underline {
  text-decoration: underline;
}
.w-12rem {
  width: 18rem !important;
}
.border-radius-12px {
  border-radius: 12px !important;
}
.container a {
  color: black !important;
}
.pro-card {
  background-color: #04a4a6;
}
.padding-bottom {
  margin-bottom: 4rem;
}
@media screen and (max-width: 790px) {
  .carbon-settings {
    display: none;
  }
  .bg-2 {
    background-image: none;
  }
  .img-1 {
    display: none;
  }
  .img-2 {
    display: none;
  }
  .img-3 {
    display: none;
  }
  .img-4 {
    display: none;
  }
  .img-5 {
    display: none;
  }
  .img-6 {
    display: none;
  }
}
